imgaug
Unidecode
scipy
librosa
torch
tensorflow==2.3.2
imageio
numpy
matplotlib
pytube3
opencv-python
num2words
python_speech_features
tqdm
umap_learn
pandas
pydub
noisereduce
moviepy
tensorflow_datasets
kneed